@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<p>
    Create a web page that displays a list of recent Stack Overflow questions that have an accepted answer and
    contain more than 1 answer. Allow visitors to view all the answers for a selected question in a random order
    and try to guess which answer was the accepted answer.
</p>
