@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<p>
    Create a web page that displays a list of recent Stack Overflow questions that have an accepted answer and
    contain more than 1 answer. Allow visitors to view all the answers for a selected question in a random order
    and try to guess which answer was the accepted answer.
</p>
<h4>
    I was able to serach for question by the TAG, Render the answers (true andd false)<br />
    the is_accepted is not implemented yet as it requires to register the app
</h4>
<h4>
    My Plan for guessing the accepted answer is to display 4 answers and one of them is the accepted one, the user must click on one of them then if it's the correct on (is_accepted=true) it will change the color of the text to green else it will be red
    Date is converted in Stackoverflow from the regular date format to a format like this <b>68988601</b> 
</h4>