@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2611 Beau Bien Cout W<br />
    Lisle, IL 60532<br />
    <abbr title="Phone">Phone:</abbr>
    201.680.9613
</address>

<address>
    <strong>Email:</strong>   <a href="othmane.benhammou.us@gmail.com">othmane.benhammou.us@gmail.com/a><br />
</address>