@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Demo for Acculynx</h1><h5> by Othmane Benhammou</h5>
    <span><a href="https://www.linkedin.com/in/othmane-benhammou">Linkedin</a></span>
    <br />
    <span><a href="https://www.myoathportfolio.com/">Portfolio</a></span>
    <br />
    <br />

    <p class="lead"> Stack Exchange API test .</p>
</div>

<div class="row" style="padding-left:300px">
    <div class="col-md-12">
        <h2>Search in Stackoverflow</h2>
        <form action="/Home/Question" method="get">
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <input type="text" class="form-control" name="tag" aria-describedby="tagHelp" placeholder="Search by Tag">

                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary" style="margin-left:10px">Submit</button>

                        </td>
                    </tr>
                </table>
            </div>
            
        </form>

    </div>
</div>