@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Demo dor Acculynx</h1>
    <p class="lead">Stack Overflow API test .</p>
</div>

<div class="row" align="center">
    <div class="col-md-4">
        <h2>Search in Stackoverflow</h2>
        <form action="/Home/Items" method="get">
            <div class="form-group">
                <label for="exampleInputtAG">Tag</label>
                <input type="text" class="form-control" id="tag" aria-describedby="tagHelp" placeholder="Search by Tag">
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>