@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Demo for Acculynx</h1><h5> by Othmane Benhammou</h5>
    <span><a href="https://www.linkedin.com/in/othmane-benhammou">Linkedin</a></span>
    <br />
    <span><a href="https://www.myoathportfolio.com/">Portfolio</a></span>
    <br />
    <br />

    <p class="lead"> Stack Exchange API test .</p>
</div>

<div class="row" align="center">
    <div class="col-md-4">
        <h2>Search in Stackoverflow</h2>
        <form action="/Home/Items" method="get">
            <div class="form-group">
                <input type="text" class="form-control" id="tag" aria-describedby="tagHelp" placeholder="Search by Tag">
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>